<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button>
			</ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left">
		<ion-content>
			<ion-list>
				<ion-item nav-clear menu-close href="#/app/featured" class="item-icon-left">
					<i class="icon ion-bookmark"></i>
					Featured Works
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/subjects" class="item-icon-left">
					<i class="icon ion-pricetag"></i> 
					Browse Subjects
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/saved" class="item-icon-left">
					<i class="icon ion-android-star"></i> 
					Saved Books
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>